[submodule "CiteSeerX"]
	path = CiteSeerX
	url = git@github.com:mnoureldin/CiteSeerX.git
[submodule "PerlPipelineExtractor"]
	path = PerlPipelineExtractor
	url = git@github.com:mnoureldin/PerlPipelineExtractor.git
